.fjs-header {
  padding: 8px;
}

.fjs-list li {
  padding: 8px;
  border-bottom: 1px solid lightgray;
}

.fjs-list li:hover {
  background-color: lightgray;
}

.fjs-active {
  background-color: #a6a6a6;
}

.fjs-col:nth-last-child(2) .fjs-active a,
.fjs-col:last-child .fjs-active a {
  background-color: #a6a6a6;
}

.fjs-col:nth-last-child(2) .fjs-active:hover a,
.fjs-col:last-child .fjs-active:hover a,
.fjs-col:nth-last-child(2) .fjs-active a:hover,
.fjs-col:last-child .fjs-active a:hover {
  background-color: lightgray;
}

@media only screen and (max-width: 1300px) {
  /* not to break layout*/
  .fjs-container h3.fjs-header {
    font-size: 18px;
    letter-spacing: normal;
  }
}